# Terraform files
*.tfstate
*.tfstate.backup
**/.terraform.lock.hcl
.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/a.out

# go deps
vendor/

# Tests directory
.test-data/

# Workaround for go test
main.go
go.mod
go.sum

# Environment variables
.env

# Localstack
volume/
